<h1>餐廳列表</h1>
<!-- <a href="/new_restaurants">新增餐廳</a>  -->
<% if user_signed_in? %>
<%= current_user.email %>
<% end %>
<nav class="button-group">
  <% if user_signed_in? %>
    <%= link_to '新增餐廳', new_restaurant_path, class: "btn btn-primary btn-sm" %>
    <%= link_to '登出', sign_out_sessions_path(session), method: "delete", data: {confirm: "登出？"}, class: "btn btn-warning btn-sm" %>
  <% else %>
    <%= link_to '新增使用者', sign_up_users_path, class: "btn btn-success btn-sm" %>
    <%= link_to '登入', sign_in_sessions_path, class: "btn btn-warning btn-sm" %>
  <% end %>
  
  
  <!-- <%= method(:link_to).source_location %>  查看方法寫在哪 -->
  <form  class="form-group">
    <%= search_form_for @q do |f| %>
      <%= f.label :title_cont, "搜尋餐廳名稱" %>
      <%= f.search_field :title_cont %>
      <%= f.submit :class => "btn btn-default btn-sm" %>
    <% end %>
  </form>
</nav>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Tel</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= link_to restaurant.title, restaurant_path(restaurant), class: "restaurant-title" %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.tel %></td>
      <td><%= restaurant.email %></td>
      <td><%= link_to "編輯", edit_restaurant_path(restaurant), class: "btn btn-info btn-xs" %></td>
      <td><%= link_to "刪除", restaurant_path(restaurant), method: "delete", data: {confirm: "是否確定刪除？"}, class: "btn btn-danger btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
