<h1>新增餐廳</h1>

<%= form_for(@restaurant) do |f| %>
  <div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	
  <div class="field">
		<%= f.label :tel %>
		<%= f.text_field :tel %>
	</div>
	
  <div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	
	<div class="field">
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>

  <div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

  <%= f.submit %>

<% end %>

<!-- <form action="/restaurants_list" method="post">
    
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="title">title</label>
    <input type="text" name="title" id="title"><br>

    <label for="address">address</label>
    <input type="text" name="address" id="address"><br>

    <label for="tel">tel</label>
    <input type="text" name="tel" id="tel"><br>

    <label for="email">email</label>
    <input type="text" name="email" id="email"><br>

    <label for="description">description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea> <br>

    <input type="submit" name="" id="" value="確定">

</form> -->